#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	background: white;
}

p {
	color: black;
}
.smilesCounter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.smile-container {
	margin: 20px;
	align-content: center;
}
.smileCounts {
	font-size: large;
	font-weight: 500;
	color: black;
}

.resultsVoting {
	color: black;
}

button {
	background-color: green;
	border: green;
	border-radius: 15px;
}
